.card{
    box-shadow: 0 3px 6px #00000029;
    .card-img-top{
        height: 120px;
        border: 5px solid white;
        margin-bottom: 54px;
    }
    .card-img{
        left: calc(50% - 50px);
        top: 70px;
        width: 100px;
    }
    .card-body{
        .btn{
            width: 160px;
        }
        .card-statistics{
            span{
                font-size: $font-size-base * 1.75;
            }
        }
    }
}